*{
    margin: 0 !important;
    /* padding: 0 !important; */
    box-sizing: border-box !important;
}

.nav-link{
    font-size: 0.85rem !important;
    margin-left: 20px;
}

.banner{
    height: auto;
    background-color: rgba(255, 236, 204, 1);
}

.banner_item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose_div{
    justify-content: space-between;
}


.choose_icon{
    background-color:rgba(255, 165, 0, 1);
    width: 70px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card{
    font-size: 0.8rem;
    width: 300px !important;
    padding: 0 !important;
}

.product_btn{
    width:110px !important;
    font-size: 0.6rem !important;
}

.fa-star{
    color: rgba(255, 165, 0, 1);
}

.order{
    height: auto;
    background-color: rgba(162, 125, 82, 1);
}

.subscribe{
    height: auto;
    background-color: rgba(241, 231,231, 1);
}

.btn-floating:hover{
    background-color:rgba(255, 165, 0, 1) !important ;
}

.list-unstyled{
    font-size: 0.85rem;
}